<div class="jumbotron">
  <h1 class="display-4">Online Banking</h1>
  <p class="lead">This is - without doubt, an actual bank app. For sure. Yep</p>
  <hr class="my-4">
  <p>You must login / register to continue.</p>
  <a class="btn btn-primary btn-lg" href="/login" role="button">Login / Register</a>
</div>